.view-container {
    height: 100%;
}

.exercise {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.exercise__info {
    background-color: $clr-1;
    padding-top: 1.0rem;
    padding-bottom: 3.6rem;
    position: relative;
}

.exercise__img {
    margin: 0 auto;
    display: block;
}

.exercise__input {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input__wrap {

}

.input__divider {
    height: 0.1rem;
    width: 12.7rem;
    background-color: $clr-2;
    margin: 0 auto;
}

.divider-bottom {
    margin-bottom: 0.4rem;
}

.test-input {
    height: 100%;
}

.test-wrap {
    height: 40%;
    overflow-y: hidden;
}

.input__scroll-container {
    position: relative;
}

