// var definitions
$width-content:         96.0rem;     // 960px
$width-logo:            9%;


// media query break points
$width-phone:           420px;
$width-tablet:          768px;
$width-big-tablet:      1024px;
$width-desktop:         1400px;

$breakpoints: (phone: $width-phone, tablet: $width-tablet, big-tablet: $width-big-tablet, desktop: $width-desktop);


// colors
$clr-primary:           #F7F7F7;
$clr-secondary:         #fff;
$clr-tertiary:          #E2E2E2;
$clr-quarternary:       #1E1E1E;
$clr-quiet:             #969696;
$clr-loud:              #969696;
$clr-link-hover:        #FF3D3D;

$clr-1:                 #F5BD53;
$clr-2:                 #B8B8B8;
$clr-3:                 #8AC87B;


$font-family-base:          "interface",sans-serif;


// $font-family-base-reg:      "gt_pressura_trial_regularRg", 'Verdana', Verdana, sans-serif;
// $font-family-base-light:    "gt_pressura_triallight", 'Verdana', Verdana, sans-serif;

$font-size-base:            62.5%;      // 16px (default) * 0.625 = 10px        _> base 10 to calc easier

// $base-font-weight: 300;
$baseline-height: 1.8rem;





// mixins


// @import "../bower_components/normalize.scss/normalize";
// @import "../bower_components/include-media/dist/include-media";

// import stylesheets
@import "reset";
@import "typography";
@import "tables";
@import "general";
@import "distances";
@import "exercise";

// @import "basehold";

