.view-container {
    height: 100%;
}

.exercise {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.exercise__info-wrap {
    position: relative;
    height: 50%;
}

.exercise__info {
    background-color: $clr-1;
    padding-top: 1.0rem;
    padding-bottom: 3.6rem;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    z-index: 100;
}


.clr-blue   { background-color: $clr-4; }
.clr-orange { background-color: $clr-1; }
.clr-red    { background-color: $clr-5; }

.exercise__green {
    background: $clr-3 url('../img/green_tick.svg') no-repeat center center;
    position: absolute;
    top: 0;
    z-index: -100;
    height: 100%;
    width: 100%;

}

.exercise__img-wrap {
    height: 11.3rem;
    position: relative;
}

.exercise__img {
    position: absolute;
    margin: 0 auto;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.exercise__input {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: center;
    justify-content: center;

    height: 45%;
    overflow-y: hidden;
}

.input__wrap {

}

.input__divider {
    height: 0.1rem;
    width: 12.7rem;
    background-color: $clr-2;
    margin: 0 auto;
}

.divider-bottom {
    margin-bottom: 0.4rem;
}

.test-input {
    height: 100%;
}

.test-wrap {
    height: 60%;
    overflow-y: hidden;
}

.input__scroll-container {
    position: relative;
    transition: top 0s ease-out;
}

.scroll-container--anim {
    // transition duration after stop
    transition-duration: $trans-dur;
}

.test-border {
    position: absolute;
    border: 1px solid $clr-2;
    z-index: 50;
    top: 211px;
    height: 5.0rem;
    width: 100%;
    pointer-events: none
}

.test-border-range {
    position: absolute;
    border: 1px solid #00FB5C;
    z-index: 50;
    top: 165px;
    height: 5.0rem * 3;
    width: 100%;
    pointer-events: none
}

.span--panend {
    transition: scale $trans-dur ease-out;
}


