.start-screen {
    height: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}

.start__logo {
    background-color: $clr-6;
    height: 32%;
    padding-top: 30%;
    padding-bottom: 15%;

    img {
        margin: 0 auto;
        display: block;
        width: 53%;
    }
}

.start__buttons {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: center;
    justify-content: center;
}

.start__button {
    width: 65%;
    font-size: 2.0rem;
    padding-left: 4.8rem;
    height: 3.3rem;
    margin: 1.5rem auto;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 3.3rem;
    color: $clr-7;
}

.button--start {
    background: url('../img/start.svg') left no-repeat;
}

.button--results {
    background: url('../img/archive.svg') left no-repeat;
}