
<div class="exercise" ng-controller="exerciseController" ng-swipe-left="next()" ng-swipe-right="prev()">
    <div class="exercise__info-wrap" hm-panmove="panInfoUp" hm-panend="stopPanInfo">
        <div class="exercise__info" ng-class="setBgColor('{{currentExercise().type}}')" style="top:{{infoDeltaY}}px; transition: top {{infoTransition}}s;">
            <div class="exercise__number" hm-tap="overviewShowEmit">{{currentExercise().id}}/{{totalExercises}}</div>
            <h1 class="exercise__title">{{currentExercise().title}}</h1>
            <div class="exercise__img-wrap">
                <img class="exercise__img" src="img/{{currentExercise().imgSrc}}" alt="">
            </div>
            <div class="exercise__tick"></div>
        </div>
        <div class="exercise__green">
        </div>
    </div>

    <!-- returnExerciseType is already controller by the d3Controller -->
    <div class="exercise__input" ng-controller="d3Controller" ng-include src="returnExerciseType(currentExercise().type)">

    </div>

</div>

<!-- overview at bottom, due to flashing when swiping -->
<pa-overview></pa-overview>

