<pa-overview></pa-overview>

<div class="exercise" ng-controller="exerciseController" ng-swipe-left="next()" ng-swipe-right="prev()" hm-panmove="panInfoUp" hm-panend="stopPanInfo" >
    <div class="exercise__info-wrap">
        <div class="exercise__info" ng-class="setBgColor('{{currentExercise().type}}')" style="top:{{infoDeltaY}}px; transition: top {{infoTransition}}s;">
            <div class="exercise__number" hm-tap="overviewShowEmit">{{currentExercise().id}}/{{totalExercises}}</div>
            <h1 class="exercise__title">{{currentExercise().title}}</h1>
            <div class="exercise__img-wrap">
                <img class="exercise__img" src="img/{{currentExercise().imgSrc}}" alt="">
            </div>
            <div class="exercise__tick"></div>
        </div>
        <div class="exercise__green">
        </div>
    </div>

    <div class="exercise__input">
        <div class="input__wrap">
            <span class="input__number input__inactive">12</span>
            <span class="input__number input__inactive">13</span>
            <span class="input__number input__active">14</span>
            <span class="input__number input__inactive">15</span>
            <span class="input__number input__inactive">16</span>
        </div>
    </div>
</div>
