<div class="exercise__input" ng-controller="d3Controller">

    <div class="input__wrap" hm-panmove="panInput" hm-panend="stopPan" hm-tap="d3Transform">
        <div class="input__scroll-container scroll-container--half" style="top: {{minutesScrollY}}px;">
            <span class="input__number number--minute input__inactive" ng-repeat="i in getMinSec() track by $index" data-pos="">{{getIndices($index)}}:</span>
        </div>
        <div class="input__scroll-container scroll-container--half" style="top: {{secScrollY}}px;">
            <span class="input__number number--second input__inactive" ng-repeat="i in getMinSec() track by $index" data-pos="">{{getIndices($index)}}</span>
        </div>

    </div>
<!--     <timer interval="1000" max-time-unit="'minute'" countdown="90">{{mminutes}}: {{sseconds}}</timer> -->

</div>
