<div class="exercise__input" ng-controller="d3Controller">

    <div class="input__wrap" hm-panmove="panInput" hm-panend="stopPan" hm-tap="d3Transform">
        <!-- <div class="input__scroll-container" style="top: {{scrollY}}px;">
            <span class="input__number input__inactive" ng-repeat="i in getOptions() track by $index" data-pos="">{{$index+1}} x</span>
        </div> -->
        <h3>Timer 1: <timer/></h3>
        <h3>Timer 2: <timer interval="2000"/></h3>
        <h3>Timer 3: <timer>{{minutes}} minutes, {{seconds}} seconds.</timer></h3>
        <button ng-click="startTimer()" ng-disabled="timerRunning">Start Timers</button>
        <button ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timers</button>
    </div>

</div>
