<div class="exercise__input" ng-controller="d3Controller">

    <div class="input__wrap" hm-tap="d3Transform">
        <div class="input__scroll-container scroll-container--half scroll-container--min" style="top: {{minutesScrollY}}px;" hm-panmove="panMin" hm-panend="stopMin" >
            <span class="input__number number--minute input__inactive" ng-class="predefinedTime({{$index+1}}, 'min')" ng-repeat="i in getMinSec() track by $index" data-pos="">{{getIndices($index)}}</span>
        </div>
        <span class="input__colon">:</span>
        <div class="input__scroll-container scroll-container--half scroll-container--sec" style="top: {{secScrollY}}px;" hm-panmove="panSec" hm-panend="stopSec" >
            <span class="input__number number--second input__inactive" ng-class="predefinedTime({{$index+1}}, 'sec')" ng-repeat="i in getMinSec() track by $index" data-pos="">{{getIndices($index)}}</span>
        </div>

    </div>
<!--     <timer interval="1000" max-time-unit="'minute'" countdown="90">{{mminutes}}: {{sseconds}}</timer> -->

</div>
