<div class="exercise__input test-input" ng-controller="d3Controller">
    <!-- <div class="test-border-range"></div>-->
    <!-- <div class="test-border"></div> -->
    <div class="input__wrap test-wrap" hm-panmove="panInput" hm-panend="stopPan" hm-tap="d3Transform">
        <div class="input__scroll-container" style="top: {{scrollY}}px;">
            <span class="input__number input__inactive" ng-repeat="i in getOptions() track by $index" data-pos="">{{$index+1}}</span>
        </div>

    </div>
</div>
