<!-- ng-controller = d3Controller  -->

<div class="input__wrap input__wrap--timer clearfix" hm-tap="d3Transform">
    <div class="input__scroll-container scroll-container--half scroll-container--min" style="top: {{minutesScrollY}}px;" hm-panmove="panMin" hm-panend="stopMin" >
        <span class="input__number number--minute input__inactive" ng-class="predefinedTime({{$index}}, 'min')" ng-repeat="i in getMinSec() track by $index" data-pos="">{{getIndices($index)}}</span>
    </div>
    <span class="input__colon">:</span>
    <div class="input__scroll-container scroll-container--half scroll-container--sec" style="top: {{secScrollY}}px;" hm-panmove="panSec" hm-panend="stopSec" >
        <span class="input__number number--second input__inactive" ng-class="predefinedTime({{$index}}, 'sec')" ng-repeat="i in getMinSec() track by $index" data-pos="">{{getIndices($index)}}</span>
    </div>

</div>

<div class="input__btn-start" hm-tap="startTimer">
    <span>Start</span>
</div>

<!-- timer is hidden first -->
<timer class="input__timer" autostart="false" interval="1000" max-time-unit="'minute'" countdown="100">{{mminutes}}: {{sseconds}}</timer>